.list {
	list-style: none;
	display: grid;
	row-gap: 12px;
}

.skeletonCard {
	height: 87px;

	&:nth-of-type(n + 1) {
		background: linear-gradient(90deg, #0f1318 0%, #0a0e12 100%);
	}

	&:nth-of-type(n + 2) {
		background: linear-gradient(90deg, #0b0f13 0%, #0f1318 52.4%, #0a0e12 100%);
	}

	&:nth-of-type(n + 3) {
		background: linear-gradient(90deg, #0a0e12 0%, #0f1318 100%);
	}
}
